{% extends "base.html" %} {% block content %}

<div id="home" class="py-5">
  <div class="background-image"></div>

  <div class="row align-items-center px-5">
    <div id="megaphone" class="col-4 col-lg-6">
      <img src="../static/images/megaphone_2.png" class="img-fluid" />
    </div>

    <div id="title" class="col-12 col-md-6 col-lg-6 ps-md-5">
      <h1>Streamline your data collection process</h1>
      <h3>with practical solutions</h3>
      <a
        href="/promotion/contact"
        class="btn btn-primary custom-button mt-3 mt-md-5 p-md-3"
        >GET STARTED</a
      >
    </div>
  </div>
</div>

{% endblock %}
