<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>876Promotions - {% block title %}Welcome{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/876Promotions-Favicon.png') }}"
    />

    {% block links %}
    <link
      href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/app.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/nav.css') }}"
    />
    {% endblock %}
  </head>

  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=AW-11227173719"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "AW-11227173719");
  </script>

  <body>
    <header id="myHeader" class="container-fluid px-5 py-3">
      <div
        id="left"
        class="d-flex flex-column align-items-center justify-content-between"
      >
        <div class="col-12">
          <a href="/">
            <img
              class="img-fluid"
              src="{{ url_for('static', filename='images/876Promotions-05.png') }}"
              alt="876Promotions-logo"
              style="max-height: 80px"
            />
          </a>
        </div>

        <div class="col-12">
          <h6>A division of XCLUSIV Digital</h6>
        </div>
      </div>

      <div id="right" class="d-flex align-items-center justify-content-end">
        <nav class="navbar navbar-expand-lg bg-light sticky-top">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#mainMenu"
              aria-controls="mainMenu"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-center"
              id="mainMenu"
            >
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"
                    >HOME</a
                  >
                </li>

                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/promotions"
                    >PROMOTIONS</a
                  >
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="/promotion/about"
                    role="button"
                    aria-expanded="false"
                    >ABOUT US</a
                  >
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link"
                    aria-current="page"
                    href="/promotion/contact"
                    >CONTACT US</a
                  >
                </li>

                {% if g.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/admin/console"
                    >CONSOLE</a
                  >
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- Show Alerts -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div
      id="flash-messages"
      class="alert alert-danger alert-dismissible fade show my-2 mx-auto col-lg-8 text-center"
      role="alert"
    >
      {{message}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% elif category == 'success' %}
    <div
      class="alert alert-success alert-dismissible fade show my-2 mx-auto col-lg-8 text-center"
      role="alert"
    >
      {{message}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div id="content">{% block content %} {% endblock %}</div>

    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
            <button
              type="button"
              class="close close-modal"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- The content will be dynamically inserted here -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary close-modal"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/176a5362c1.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/custom.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/script.js') }}"
    ></script>

    {% block scripts %} {% endblock %}
  </body>
</html>
